@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300&family=Source+Sans+3:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    background-image: url(../src/components/img/4.png);
    background-repeat: no-repeat;
}

.container-button {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding: 10px 10px;
}

h1 {
    color: rgb(251, 251, 251);
    font-family: 'Exo', sans-serif;
    font-weight: lighter;
    font-size: 50px;
}

p {
    color: rgb(251, 251, 251);
    font-family: 'Exo', sans-serif;
    font-weight: lighter;
    font-size: 30px;
    text-transform: uppercase;
}

.container-text {
    height: 550px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: end;
}

@media only screen and (max-width: 780px) { 

    body {
        background-image: url(../src/components/img/4.png);
    }
}
